*{
   
    background-image: linear-gradient(#3D314C,#64507C);
    background-attachment: fixed;
}
.counter{
    
    color: white;
}

.inner-container{
    border: 1px solid white;
    padding: 60px;
    border-radius: 13px;
    box-shadow: 1px 1px 10px 10px white;
   
}

